* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
}
body {
  flex: 1;
  /* height: 100vh; */
  /* background-color:; */
  height: 100%;
}

.dataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.floorData,
.liftData {
  margin: 0 1rem;
}
.dataContainer input {
  width: 50px;
}

/*************floor*******************/
main {
  position: relative;
  /* background-color: yellowgreen; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  margin: 0 5rem;
  border: 2px solid black;
}

#section-1 {
  /* display: block; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: space-evenly;
  width: 100%;
}

#section-2 {
  position: absolute;
  bottom: 0;
  margin-left: 190px;
  /* margin-right: 0; */
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  /* width: fit-content; */
  height: 150px;
  /* background: black; */
}

.floor {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid black;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  height: 150px;
  border-right: 2px solid black;
}

.dataContainer input {
  padding: 0.2rem 2.2;
  text-align: center;
  border-radius: 5px;
  background: blanchedalmond;
}
.actions button,
.btn {
  width: 70px;
  padding: 0.5rem;
  border-radius: 8px;
  background: #0079ff;
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
}

.actions button:hover,
.btn:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.lift_container {
  /* width: 100%; */
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* #mainLift, */
.lift {
  position: relative;
  bottom: 0;
  margin: 0 5rem;
  /* left: 30vh; */
  /* gap: 2; */
  /* transition: all 2s; */
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  width: 95px;
  height: 120px;
  overflow: hidden;
  /* display: none; */
  /* background: white; */
  /* z-index: 30; */
  border: 1px solid black;
}

/* #mainLift-1 {
  left: 80vh;
}
#mainLift-2 {
  left: 45vh;
} */
#gate-1,
#gate-2 {
  top: 0;
  width: 50%;
  position: absolute;
  height: 100%;
  border: 2px solid black;
  background: #526d82;
  z-index: 0;
  transition: all 2.5s;
}

#gate-1 {
  left: 44px;
}
#gate-2 {
  right: 44px;
}

.floorNum,
.dataContainer,
#waiting {
  padding: 0 1rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

#waiting {
  text-align: center;
  display: none;
}
